<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
	<div th:fragment="menu" class=" side-bar ">
		<ul class="list-group">
			<li class="list-group-item"><a href="#"></a></li>
			<li class="list-group-item">
				<span>
					<i class="bi bi-house"></i>
				</span>
				<a href="/homepage" class="text-light" >Home</a>
			</li>
			<li class="list-group-item">
				<span>
					<i class="bi bi-film"></i>
				</span>
				<a href="/" class="text-light">Manage employers</a>
			</li>
			<li class="list-group-item">
				<span>
					<i class="bi bi-bookmark-star"></i>
				</span>
				<a href="/job/" class="text-light">Manage Job</a>
			</li>
			<li class="list-group-item">
				<span>
					<i class="bi bi-person-circle"></i>
				</span>
				<a href="/student/" class="text-light">Manage Student</a>
			</li>
			<li class="list-group-item">
				<span>
					<i class="bi bi-person-circle"></i>
				</span>
				<a href="/notification/" class="text-light">Manage Notification</a>
			</li>
			<li class="list-group-item">
				<span>
					<i class="bi bi-box-arrow-left"></i>
				</span>
				<a href="#" class="text-light">Log out</a>
			</li>
		
		</ul>
	</div>

